@use 'GlobalStyles/variable.scss' as *;

.logo {
  margin-inline: auto;
  margin-block: 3rem 3.65rem;
}

.formcontainer {
  width: min(90%, 25rem);
  margin: 0 auto;
  padding: 2rem;
  background-color: $semi-dark-blue;
  border-radius: 0.6rem;

  & > h1 {
    margin-bottom: 2.5rem;
  }
}

.wrapper {
  position: relative;
  margin-bottom: 1.5rem;
}

.field {
  width: 100%;
  padding-bottom: 1.06rem;
  border: none;
  border-bottom: 1px solid $greyish-blue;
  background-color: $semi-dark-blue;
  color: $white;
  caret-color: $red;

  &:focus {
    border-bottom: 1px solid $white;
    outline: none;
  }
}

.invalid {
  border-bottom: 1px solid $red;
}

.linkto {
  display: flex;

  & > a {
    text-decoration: none;
    font-size: 0.751rem;
    color: $red;
    margin-left: 0.5rem;
  }
}

.error {
  position: absolute;
  font-weight: inherit;
  right: 0;
  bottom: 1.06rem;
  color: $red;
}
