@use 'GlobalStyles/variable.scss' as *;

/*


//Breakpoints
$breakpoint-largest: 78.5em; //1256px
$breakpoint-larger: 62.5em; //1000px
$breakpoint-large: 50em; //800px
$breakpoint-medium: 46.8em; //750px
$breakpoint-mid: 43.75em; //700px
$breakpoint-small: 37.5em; //600px
$breakpoint-smaller: 31.25em; //500px
$breakpoint-smallest: 28.12em; //450px */

//MIXINS
/*@mixin imagestyle {
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
*/

//Typography

h1 {
  font-size: 1.25rem;
  font-weight: inherit;
}

h2 {
  font-size: 0.875rem;
  font-weight: $font-weight-large;
}

p {
  font-size: 0.75rem;
  font-weight: $font-weight-small;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.btn {
  width: 100%;
  background-color: $red;
  margin-bottom: 1.5rem;
  color: $white;
  padding: 0.93rem 0;
  border: none;
  border-radius: 0.3rem;

  &:hover {
    background-color: $white;
    color: $color-primary;
  }
}

body {
  background-color: $color-primary;
  font-family: $font-secondary;
  line-height: 1.1;
  font-weight: $font-weight-small;
  color: $white;
}

.mainwrapper {
  margin-top: 4.68rem;
  @media only screen and (min-width: $breakpoint-large) {
    //grid-row: auto;
    //grid-columns: 2 / -1;
    margin-top: 4.5rem;
    //position: relative;
    margin-left: 10rem;
    //width: 100%;
    //height: 100%;
  }
}

.container {
  @media only screen and (min-width: $breakpoint-large) {
    //display: grid;
    //grid-template-rows: max-content;
    //grid-template-columns: 6rem 1fr;
  }
}
