//Primary Colors
$color-primary: #1d141e;

//Secondary Colors
$white: #ffffff;
$red: #fc4747;
$greyish-blue: #5a698f;
$semi-dark-blue: #161d2f;

//Font-family
$font-secondary: "Outfit", sans-serif;

//Font-weight
$font-weight-large: 500;
$font-weight-small: 300;
