@use 'GlobalStyles/variable.scss' as *;

//Main section
.main {
  padding-inline: 1rem;
  max-width: 100%;

  @media only screen and (min-width: $breakpoint-mid) {
    padding-inline: 1.5rem;
  }

  @media only screen and (min-width: $breakpoint-large) {
    padding: 0 2rem 0 0;
  }
}

.trend__grid {
  display: grid;
  gap: min(5%, 2.5rem);
  grid-auto-flow: column;
  grid-auto-columns: 71%;
  overflow-x: auto;
  scrollbar-width: none;
  overscroll-behavior-inline: contain;

  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (min-width: $breakpoint-mid) {
    grid-auto-columns: 29.3rem;
  }
}

.snap__inline {
  scroll-snap-type: inline mandatory;

  & > * {
    scroll-snap-align: start;
  }
}

.trend {
  //width: 15rem;
  //height: 8.75rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.trend__img {
  aspect-ratio: 2 / 1;
}

.icon__wrapper {
  width: min(50%, 7rem);
  height: 3rem;
  border-radius: 1.5rem;
  background-color: rgba($white, 0.5);
  align-self: center;
  justify-self: center;
  z-index: 6;

  display: none;
  align-items: center;
  column-gap: 10%;
  justify-content: center;
  //justify-content: space-around;

  p {
    font-size: 0.72rem;

    @media only screen and (min-width: $breakpoint-mid) {
      font-size: 1.12rem;
    }
    //
  }
}

.wrapper__image {
  //z-index: 1;

  & img {
    border-radius: 0.5rem;
    z-index: 1;
    object-fit: cover;

    &:hover {
      filter: brightness(75%);
    }
  }

  &:hover + .icon__wrapper {
    display: flex;
  }
}

.bookmark__wrapper {
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  justify-self: end;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 2;
}

.category__wrapper {
  align-self: end;
  z-index: 7;
  margin-top: 0.5rem;

  h2 {
    margin-top: 3px;

    @media only screen and (min-width: $breakpoint-mid) {
      font-size: 1.12rem;
    }
  }
}

.types {
  display: flex;
  column-gap: 0.4rem;

  & > span {
    width: 0.2rem;
    height: 0.2rem;
    align-self: center;

    display: block;
    border-radius: 50%;
    background-color: $white;
  }
}

.category__align {
  margin-left: min(5%, 1.5rem);
  margin-bottom: min(5%, 1.5rem);
}

//RECOMMEND

.recommended {
  margin-top: 1.5rem;

  @media only screen and (min-width: $breakpoint-large) {
    margin-top: 2rem;
  }
}

.recommend__grid {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem 0.9rem;

  @media only screen and (min-width: $breakpoint-mid) {
    grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  }

  @media only screen and (min-width: $breakpoint-large) {
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  }
}

//////STYLING FOR BOOKMARK SECTION ACCORDING NUMBER OF BOOKMARKS
/// If bookmarkLength is 1
.recommend__column1 {
  @media only screen and (min-width: $breakpoint-mid) {
    grid-template-columns: 25%;
  }
}

/// If bookmarkLength is 2
.recommend__column2 {
  @media only screen and (min-width: $breakpoint-mid) {
    grid-template-columns: repeat(auto-fit, min(13.75rem, 1fr));
  }

  @media only screen and (min-width: $breakpoint-large) {
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 18rem));
  }
}

/// If bookmarkLength is 3
.recommend__column3 {
  @media only screen and (min-width: $breakpoint-mid) {
    grid-template-columns: repeat(auto-fit, min(13.75rem, 1fr));
  }

  @media only screen and (min-width: $breakpoint-large) {
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 17.6rem));
  }
}

//Flex Container
.gridTest {
  @media only screen and (min-width: $breakpoint-mid) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: $breakpoint-large) {
    grid-template-columns: repeat(4, 1fr);
  }
}
