@use 'GlobalStyles/variable.scss' as *;

.navcontainer {
  background-color: $semi-dark-blue;
  padding: 1.12rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: min(35%, 10.8rem);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: min(6.67%, 2rem);
  height: 1.56rem;
}

.svg {
  fill: $greyish-blue;

  &:hover {
    fill: $red;
  }
}

.active {
  fill: $white;
}

.profile {
  width: min(8%, 2.5rem);
  border-radius: 50%;
  border: 2px solid $white;
}
