@use 'GlobalStyles/variable.scss' as *;

.navcontainer {
  background-color: $semi-dark-blue;
  position: fixed;
  height: 4.5rem;
  width: 100%;
  top: 0;
  z-index: 99;

  @media only screen and (min-width: $breakpoint-mid) {
    width: 95%;
    left: 1.5rem;
    top: 1.3rem;
    border-radius: 1rem;
  }

  @media only screen and (min-width: $breakpoint-large) {
    grid-row: auto;
    grid-column: 1 / 2;
    height: 90vh;
    width: 6rem;

    margin-inline: 2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    left: 0;
    top: 0;
  }

  //padding: 1.12rem 1rem;

  /*display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (min-width: $breakpoint-large) {
    grid-row: auto;
    grid-column: 1 / 2;
    min-height: 100vh;
    flex-direction: column;
    padding: 2rem;
    //justify-content: flex-start;

    & > img {
      width: 100%;
    }
  } */
}

.navwrapper {
  width: 100%;
  height: 100%;

  padding: 1.12rem 1rem;
  background-color: $semi-dark-blue;

  display: flex;
  justify-content: space-between;
  align-items: center;
  //position: fixed;

  @media only screen and (min-width: $breakpoint-mid) {
    width: 95%;
    border-radius: 1rem;
  }

  @media only screen and (min-width: $breakpoint-large) {
    //grid-row: auto;
    // grid-column: 1 / 2;
    //min-height: 100vh;
    //width: 100%;
    flex-direction: column;
    padding: 0 2rem;
    //justify-content: flex-start;
    //position: relative;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content;
    place-items: center;
    border-radius: 1rem;

    & > img {
      width: 100%;
    }
  }
}

.nav {
  width: min(35%, 10.8rem);
  display: flex;
  justify-content: space-between;

  @media only screen and (min-width: $breakpoint-large) {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    min-height: 12.5rem;
    align-self: flex-start;
    //justify-self: flex-start;
    //margin-top: -14rem;
  }
}

.logo {
  width: min(6.67%, 2rem);
  height: 1.56rem;
}

.svg {
  fill: $greyish-blue;

  &:hover {
    fill: $red;
  }
}

.active {
  fill: $white;
}

.profile {
  width: min(8%, 2.5rem);
  border-radius: 50%;
  border: 2px solid $white;

  @media only screen and (min-width: $breakpoint-large) {
    justify-self: flex-end;
  }
}
