@use 'GlobalStyles/variable.scss' as *;

.section1 {
  display: flex;
  padding: 1.5rem 1rem;
}

.search {
  width: min(8%, 2.5rem);
}

.filter {
  margin-left: 1rem;
  background-color: $color-primary;
  border: none;
  caret-color: $red;
  font-size: 1rem;
  color: $white;
  width: 100%;

  @media only screen and (min-width: $breakpoint-mid) {
    font-size: 1.5rem;
  }

  &:focus {
    border-bottom: 1px solid $white;
    outline: none;
  }
}
